@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TrainOne';
    src: url('/TrainOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .landing-page {
    font-family: 'TrainOne', sans-serif;
  }
  